* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.first_section {
  width: 100vw;
  height: 100vh;
  display: grid;
  /* grid-template-columns: 300px 250px 400px 500px; */
  /* grid-template-rows: 100px 200px 300px; */
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr) 6fr;
  gap: 2rem;
  /* row-gap: 4rem; */
  /* column-gap: 1rem; */
}

.box {
  border: 2px solid red;
  font-size: 5rem;
}

.box_16 {
  grid-row: 1/10; /*(start/end)*/
  grid-column: 1/8; /*(start/end)*/
}

.box_3 {
  grid-row: 1/8;
  /* grid-column: 3/8; */
}
